* {
    padding: 0;
    margin: 0;
}

.container {
    min-height: 100vh;
    max-width: 1200px;
    width: 80vw;
    /*background-color: rgba(0, 255, 255, 0.24);*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-header {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 2rem;
}

.logo {
    width: 100px;
    aspect-ratio: 1/1;
}

.item-info-container {
    p {
        font-weight: bold;
    }
    display: flex;
    gap: 1rem;
}